.navbar {
    margin-bottom: 5px;

    .large-device {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        background-color: antiquewhite;
        place-content: center;
        place-items: center;
        padding: 20px 5px;
        box-shadow: #c6b4b4 -5px -2px 5px 6px;

        .left {
            display: flex;
            flex-direction: row;
            gap: 25px;
            justify-content: space-around;
            align-items: center;

            .item {

                img {
                    width: 30px;
                    height: 30px;
                }
            }

            .item {
                position: relative;

                .link {
                    font-family: 'baloo';
                    text-decoration: none;
                    font-size: 16px;
                    font-weight: 600;
                    color: black;
                    transition: 0.3s ease;


                }

                .link:hover {
                    color: rgb(41 16 16 / 78%);
                }

                .link:hover::after {
                    background-color: rgb(41 16 16 / 78%);
                    content: "";
                    width: 50%;
                    height: 2px;
                    position: absolute;
                    bottom: 3px;
                    left: 0px;
                    text-decoration: underline;
                }
            }

        }

        .center {
            display: flex;
            flex-direction: row;
            text-align: center;
            font-family: 'baloo';
        }

        .right {
            display: flex;
            flex-direction: row;
            gap: 20px;

            .item {
                position: relative;

                .link {
                    font-family: 'baloo';
                    text-decoration: none;
                    font-size: 16px;
                    font-weight: 600;
                    color: black;
                    transition: 0.3s ease;


                }

                .link:hover {
                    color: rgb(41 16 16 / 78%);
                }

                .link:hover::after {
                    background-color: rgb(41 16 16 / 78%);
                    content: "";
                    width: 50%;
                    height: 2px;
                    position: absolute;
                    bottom: 3px;
                    left: 0px;
                    text-decoration: underline;
                }


            }

            .icons {
                display: flex;
                flex-direction: row;
                gap: 15px;

                .cartIcon {
                    position: relative;

                    span {
                        position: absolute;
                    }
                }

                .mobile {
                    display: none;
                }
            }
        }
    }
}