.footer {
    display: grid;
    grid-template-rows: 1fr;
    place-items: center;
    background-color: black;
    margin-top: 1rem;

    .top {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        background-color: antiquewhite;
        padding: 20px 5px;

        .item {
            display: grid;
            grid-template-rows: 1fr 2fr;
            place-items: center;

            .box {
                display: flex;
                flex-direction: column;
                gap: 3px;

                .link {
                    text-decoration: none;
                    color: black;
                }

                .link:hover {
                    color: rgb(91, 88, 88);
                }
            }
        }
    }

    .bottom {


        .left {
            padding: 5px 16px;
            color: white;
        }
    }
}