@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Biryani:wght@200;300;400;600;700;800;900&family=Fredoka:wght@300..700&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');
:root {
  --primary-color: #133955;
  --secondary-color: #005aff;

  --notification-color: #b32624;
  --dark-background: #1a1a1a;

  --dark-text: #1a1a1a;
  --secondary-dark-text: #5a5a5a;
  --dark-border: #404040;

  --light-text: #f5f3ef;
  --secondary-light-text: #dbdad6;
}

::-webkit-scrollbar {
  width: 0px;
}

body {
  padding: 0;
  margin: 0;
  font-family: "Ubuntu", sans-serif;
  font-weight:300;
  font-style: normal;
  overflow-x: hidden;
  background: var(--light-text);
  scroll-behavior: smooth;
}
